<div class="jumbotron mt-4">
    <h1 class="display-4">Typesdript App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla consequuntur quibusdam soluta eos
        itaque exercitationem.</p>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, minus!</p>
    <hr class="my-a">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sapiente delectus magni similique minus omnis debitis commodi inventore odio eligendi?</p>
    <a href="javascript:void(0)" onclick="popupwindow('https://www.google.com/','',1200,700)" class="btn btn-lg btn-primary"><i class="fas fa-link"></i> Google</a>
    <a href="javascript:void(0)" onclick="SweetalertBootstrap()" class="btn btn-lg btn-primary"><i class="fas fa-bell"></i> Alerta</a>
</div>
<input type="hidden" id="usuario" value="{{nombre}}">