<div class="jumbotron">
    <h1 class="display-4">Typesdript App</h1>
    <p class="lead">Error 404 Paguina No Encontrada {{ url }}</p> 
    <a href="/" class="btn btn-lg btn-primary"><i class="fas fa-angle-double-left"></i> Regresar</a>
</div>
<input type="hidden" id="Id404" value="{{url}}">